@charset "UTF-8";

/* Estilos para multiplas telas */

/* Estilizações para telas medias */
@media screen and (max-width: 992px) {
    /* Rearrumação no tamanho da apresentação do site */
    #home{
        height: 800px;
    }

    /* Mudanças no artigo em destaque para encaixar nas telas menores */
    article#principal{
        flex-direction: column;
        align-items: center;
        align-content: space-between;
    }
    article#principal > *{
        width: 570px;
    }

    /* Mudança nos artigos para melhor encaixar em telas menores de forma responsiva */
    main{
        display: flex;
        flex-direction: column;
    }
    main > * {
        margin: 20px 0;
    }
    main > article img {
        max-width: 370px;
    }
}

/* Estilizações para telas pequenas*/
@media screen and (max-width: 768px) {
    /* Rearrumação no tamanho da apresentação do site */
    #home{
        height: 974px;
    }

    /* Mudança na navegação para melhor funcionar em pequenas telas */
    header{
        flex-direction: column;
    }
    ul{
        height: 100%;
        padding: 25px 0;
    }

    /* Mudanças no artigo em destaque para encaixar nas telas menores */
    article#principal{
        flex-direction: column;
        align-content: space-between;
        height: 600px;
    }
    article#principal > section{
        margin: auto;
        width: 100%;
        height: 500px;
    }
    article#principal > section > p{
        width: 100%;
    }
    article#principal > img{
        width: 90%;
        height: 260px;
    }
}