@charset "UTF-8";

:root {
    --purple-bg: #290742;
    --dark-bg: #170027;
    --button-bg: #9e6dc2;
    --white: #fff;
    --light-purple: #fbf6ff;
    --green: #4fff4b;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

#home {
    background-color: var(--purple-bg);
    padding-bottom: 64px;
}

header{
    padding: 64px 0;
    width: 1170px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header > *{
    display: inline-block;
}

ul{
    display: flex;
    width: 343px;
    height: 21px;
    justify-content: space-between;
}

li{
    list-style-type: none;
    font-weight: 400;
}

li > a{
    color: var(--white);
}

li:first-child{
    font-weight: 700;
    padding-left: 5px;
    border-left: 2px solid var(--green);
}

div#pesquisa{
    display: flex;
}

div#pesquisa > input{
    background-color: var(--dark-bg);
    height: 44px;
    border: none;
    padding: 10px;
    margin-right: 0;
    border-radius: 4px 0 0 4px;
    color: white;
}

div#pesquisa > button{
    background-color: var(--button-bg);
    width: 70px;
    height: 44px;
    margin-left: 0;
    border: none;
    border-radius: 0 4px 4px 0;
}

article#principal{
    display: flex;
    margin: auto;
    width: 1170px;
    height: 346px;
    justify-content: space-between;
    flex-wrap: wrap;
}

article#principal > section{
    width: 570px;
    height: 311px;
    color: white;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

article#principal > section > *{
    flex: 1;
    line-height: 27px;
}

article#principal > section > h1{
    font-family: 'Poppins', sans-serif;
    color: var(--button-bg);
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
}

article#principal > section > p{
    width: 469px;
}

article#principal > section > a{
    color: var(--button-bg);
    display: flex;
    width: 112px;
    height: 27px;
    justify-content: space-between;
    align-items: center;
}

article#principal > img{
    width: 570px;
    height: 346px;
}

body > hr{
    height: 6px;
    background-color: var(--green);
}

main{
    width: 1170px;
    margin: auto;
    padding-top: 64px;
    display: grid;
    grid-template-columns: 370px 185px 70px 55px 370px;
    grid-template-rows: 546px 460px;
    grid-template-areas:
     "post1 post1 . aside aside"
     "post2 post3 post3 post3 post4";
    column-gap: 30px;
}

article#post-1{
    grid-area: post1;
}

article#post-1 > figure > img {
    width: 569px;
}

article#post-1 > figure > img > figcaption{
    line-height: auto;
}

article#post-1 > h2{
    line-height: 36px;
}

article#post-1 > p{
    line-height: 24px;
}

article#post-2{
    grid-area: post2;
}

article#post-3{
    grid-area: post3;
}

article#post-4{
    grid-area: post4;
}

main > aside{
    grid-area: aside;
}

aside > hr{
    height: 1px;
    width: 470px;
    background-color: #F2E7FA;
    margin: 24px 0;
}